{% extends 'base.html' %}

{% block title %}
    我的网站
{% endblock %}

{% block nav_blog_active %}
    active
{% endblock %}
{% load staticfiles %}
{% load comment_tags %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="blog">

                                <h3><a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></h3>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag"></span><a
                                        href="{% url 'blogs_with_type' blog.blog_type.id %}">{{ blog.blog_type }}</a>
                                    &nbsp<span class="glyphicon glyphicon-time"></span>
                                    &nbsp{{ blog.created_time|date:"Y-m-d" }}
                                    &nbsp阅读量：{{ blog.get_read_num }}
                                    &nbsp评论数：{% get_comment_count_tag blog %}
                                <p>{{ blog.content|striptags|truncatechars:100 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>暂无博客</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <nav class="Paginator" aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_of_blogs.has_previous %}
                            <li>
                            <a href="?page={{ page_of_blogs.previous_page_number}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                            <li class="active"><span>{{ page_num }}</span></li>
                                {% else%}
                                {% if page_num == '...' %}
                                     <li><span>{{ page_num }}</span></li>
                                    {% else %}
                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if page_of_blogs.has_next %}
                            <li>
                            <a href="?page={{ page_of_blogs.next_page_number}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <p>
                        文章数{{ page_of_blogs.paginator.count }},
                        当前第{{ page_of_blogs.number }}页,
                        共{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </nav>

            </div>
            <div class="hidden-xs col-sm-8 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog_types">
                            {% for blog_type in blog_types %}
                                <li><a href="{% url 'blogs_with_type' blog_type.id %}">{{ blog_type }} ({{ blog_type.blog_count }}篇)</a></li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">日期分类</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date, blog_count in blog_dates.items %}
                                <li><a href="{% url 'blogs_with_date' blog_date.year blog_date.month  %}">{{ blog_date|date:"Y年m月" }}({{ blog_count }}篇)</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
